<div class="wrapper">

    <form class="container" [formGroup]="registerForm" (submit)="register()">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Ex. xyz@gmail.com">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                @for(role of roles;track role.value){
                <mat-option>{{role.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-flat-button>Signup</button>
        <p>Already have an account? <a routerLink="/login">Login</a></p>
    </form>

</div>